<svelte:options tag="video-slider" />

<script lang="ts">
  import { Splide, SplideSlide } from "@splidejs/svelte-splide";
  import { Video } from "@splidejs/splide-extension-video";
  import "@splidejs/splide/dist/css/themes/splide-skyblue.min.css";
  import "@splidejs/splide-extension-video/dist/css/splide-extension-video.min.css";

  let main: Splide;
  let videoCount = 0;
  const videos = [
    "ycslk2K6S-8",
    "fJhk_u8bN-Y",
    "X2Dm5rBJlPw",
    "F9nMEQIpuZc",
    "X2Dm5rBJlPw",
    "6OhZK-avO8w",
  ];
</script>

<!-- https://youtu.be/ycslk2K6S-8 -->
<!-- https://i.ytimg.com/vi/ycslk2K6S-8/hqdefault.jpg -->
<div class="wrapper">
  <Splide
    hasSliderWrapper
    options={{
      // arrowPath:
      //   "M5.05549 4.89757C3.7306 6.21975 2.67949 7.79024 1.96231 9.51915C1.24513 11.2481 0.875977 13.1014 0.875977 14.9732C0.875977 16.845 1.24513 18.6983 1.96231 20.4272C2.67949 22.1562 3.7306 23.7267 5.05549 25.0488L60.5071 80.5005L5.05549 135.952C2.38327 138.624 0.882028 142.249 0.882028 146.028C0.882028 149.807 2.38327 153.431 5.05549 156.103C7.72771 158.776 11.352 160.277 15.1311 160.277C18.9102 160.277 22.5345 158.776 25.2067 156.103L90.8055 90.5047C92.1304 89.1825 93.1815 87.612 93.8987 85.8831C94.6158 84.1542 94.985 82.3008 94.985 80.429C94.985 78.5573 94.6158 76.7039 93.8987 74.975C93.1815 73.2461 92.1304 71.6756 90.8055 70.3534L25.2067 4.75465C19.7759 -0.676182 10.6292 -0.676179 5.05549 4.89757Z",
      // classes: {
      //   pagination: "splide__pagination",
      // },
      hasSliderWrapper: true,
      // rewind: true,
      arrows: false,
      // heightRatio: 0.5625,
    }}
    extensions={{ Video }}
    bind:this={main}
    on:mounted={(e) => {
      const videoLength = e.detail.splide.length;
      console.log(videoLength);
      videoCount = videoLength;
    }}
  >
    {#each videos as id, index}
      <SplideSlide data-splide-youtube={id}>
        <img
          class="img-thumbnail"
          src={`https://i3.ytimg.com/vi/${id}/maxresdefault.jpg`}
          alt={`YouTube Sample ${index + 1}`}
        />
      </SplideSlide>
    {/each}

    <button
      on:click={(e) => main.splide.go("<")}
      class="splide__arrow splide__arrow--prev"
      slot="before-track"
    >
      <svg
        width="95"
        height="161"
        viewBox="0 0 95 161"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.05549 4.89757C3.7306 6.21975 2.67949 7.79024 1.96231 9.51915C1.24513 11.2481 0.875977 13.1014 0.875977 14.9732C0.875977 16.845 1.24513 18.6983 1.96231 20.4272C2.67949 22.1562 3.7306 23.7267 5.05549 25.0488L60.5071 80.5005L5.05549 135.952C2.38327 138.624 0.882028 142.249 0.882028 146.028C0.882028 149.807 2.38327 153.431 5.05549 156.103C7.72771 158.776 11.352 160.277 15.1311 160.277C18.9102 160.277 22.5345 158.776 25.2067 156.103L90.8055 90.5047C92.1304 89.1825 93.1815 87.612 93.8987 85.8831C94.6158 84.1542 94.985 82.3008 94.985 80.429C94.985 78.5573 94.6158 76.7039 93.8987 74.975C93.1815 73.2461 92.1304 71.6756 90.8055 70.3534L25.2067 4.75465C19.7759 -0.676182 10.6292 -0.676179 5.05549 4.89757Z"
          fill="white"
          fill-opacity="0.35"
        />
      </svg>
    </button>
    <button
      on:click={(e) => main.splide.go(">")}
      class="splide__arrow splide__arrow--next"
      slot="after-slider"
    >
      <svg
        width="95"
        height="161"
        viewBox="0 0 95 161"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.05549 4.89757C3.7306 6.21975 2.67949 7.79024 1.96231 9.51915C1.24513 11.2481 0.875977 13.1014 0.875977 14.9732C0.875977 16.845 1.24513 18.6983 1.96231 20.4272C2.67949 22.1562 3.7306 23.7267 5.05549 25.0488L60.5071 80.5005L5.05549 135.952C2.38327 138.624 0.882028 142.249 0.882028 146.028C0.882028 149.807 2.38327 153.431 5.05549 156.103C7.72771 158.776 11.352 160.277 15.1311 160.277C18.9102 160.277 22.5345 158.776 25.2067 156.103L90.8055 90.5047C92.1304 89.1825 93.1815 87.612 93.8987 85.8831C94.6158 84.1542 94.985 82.3008 94.985 80.429C94.985 78.5573 94.6158 76.7039 93.8987 74.975C93.1815 73.2461 92.1304 71.6756 90.8055 70.3534L25.2067 4.75465C19.7759 -0.676182 10.6292 -0.676179 5.05549 4.89757Z"
          fill="white"
          fill-opacity="0.35"
        />
      </svg>
    </button>

    <!-- <svelte:fragment slot="after-track">
      <div class="splide__progress">
        <div class="splide__progress__bar" />
      </div>

      <div class="splide__autoplay">
        <button class="splide__play">Play</button>
        <button class="splide__pause">Pause</button>
      </div>
    </svelte:fragment> -->
    <!-- <div class="splide__autoplay" slot="before-track">
      <button class="splide__play">Play</button>
      <button class="splide__pause">Pause</button>
    </div> -->
  </Splide>
</div>

<style lang="scss">
  .img-thumbnail {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wrapper :global(.splide__track) {
    border-radius: 40px;
  }
  .wrapper :global(.splide__slide) {
    background-color: black;
  }
  .wrapper :global(.splide__arrow svg) {
    height: 48px;
    width: 48px;

    @media screen and (min-width: 1024px) {
      height: 92px;
      width: 92px;
    }
    @media screen and (min-width: 1920px) {
      height: 128px;
      width: 128px;
    }
  }
</style>
